[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/"
verify_ssl = true
name = "pytorch"

[packages]
tensorflow = "*"
matplotlib = "*"
ipykernel = "*"
tensorflow-datasets = "*"
ipywidgets = "*"
tensorboard = "*"
torch = {version = "==1.11.0+cu113", index = "pytorch"}
pandas = "*"
pytorch-lightning = "*"

[dev-packages]
torch-tb-profiler = "*"

[requires]
python_version = "3.10"
